<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>exempleServlet</servlet-name>
    <servlet-class>org.insset.server.ExempleServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>exempleServlet</servlet-name>
    <url-pattern>/calculatorInsset/exemple</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>romanConvert</servlet-name>
    <servlet-class>org.insset.server.RomanConverterServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>romanConvert</servlet-name>
    <url-pattern>/calculatorInsset/romanConvert</url-pattern>
  </servlet-mapping>
  
  <!-- Add your servlet -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>calculatorInsset.html</welcome-file>
  </welcome-file-list>

</web-app>
